{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagemetas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Page_title</th>
                <th>Menu_title</th>
                <th>Locale</th>
                <th>Short_description</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pageMetum in pageMetas %}
            <tr>
                <td><a href="{{ path('songbird_pagemeta_show', { 'id': pageMetum.id }) }}">{{ pageMetum.id }}</a></td>
                <td>{{ pageMetum.pagetitle }}</td>
                <td>{{ pageMetum.menutitle }}</td>
                <td>{{ pageMetum.locale }}</td>
                <td>{{ pageMetum.shortdescription }}</td>
                <td>{{ pageMetum.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('songbird_pagemeta_show', { 'id': pageMetum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('songbird_pagemeta_edit', { 'id': pageMetum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('songbird_pagemeta_new') }}">Create a new pageMetum</a>
        </li>
    </ul>
{% endblock %}
