{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagemetum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pageMetum.id }}</td>
            </tr>
            <tr>
                <th>Page_title</th>
                <td>{{ pageMetum.pagetitle }}</td>
            </tr>
            <tr>
                <th>Menu_title</th>
                <td>{{ pageMetum.menutitle }}</td>
            </tr>
            <tr>
                <th>Locale</th>
                <td>{{ pageMetum.locale }}</td>
            </tr>
            <tr>
                <th>Short_description</th>
                <td>{{ pageMetum.shortdescription }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ pageMetum.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('songbird_pagemeta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('songbird_pagemeta_edit', { 'id': pageMetum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
