{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'resetting.request.submit'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/signin.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <img src="{{ asset('bundles/app/images/logo.png') }}" class="center-block img-responsive" alt="Songbird" />

    <div class="container">
        <h3> </h3>
        <div class="text-center">
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
        </div>
    </div>
{% endblock %}